@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

$darkModeElementsBlue: hsl(209, 23%, 22%);
$darkModeBackground:hsl(207, 26%, 17%);
$lightModeText:hsl(200, 15%, 8%);
$lightModeInput: hsl(0, 0%, 52%);
$lightModeBackground:hsl(0, 0%, 98%);
$darkTextLightElements:hsl(0, 0%, 100%);
$homeItemsFontSize:.875rem;
$detailPageFontSize:1rem;
$fontFamily:'Nunito Sans';



html{
    font-family:$fontFamily,sans-serif
}
.lightElement{
    background-color: #FAFAFA !important; 
    color:  #111517 !important;
}
.darkElement{
    background-color: #1D2C37 !important; 
    color:  #fff !important;
}
.bgNav{
    background-color: #fff !important;   
}
.bgNavDark{
    background-color:#273845 !important;   

}

.fw-medium{
    font-weight:400;
}

.fs-medium{
    font-size: $homeItemsFontSize;
}

// .bgLight{
//     background-color: $lightModeBackground !important;
// }

// .textLight{
//     color:#101517 !important;
// }

// .bgDk{
//     background-color: $darkModeBackground !important;
// }

// .textDk{
//     color:$darkTextLightElements !important;
// }

.header{
    z-index:12;
}

.parent{
    padding-top:80px;

    .info{
        font-size: $homeItemsFontSize;
        span:nth-child(1){
            font-weight:400;
        }
        span:nth-child(2){
            opacity:.6;
            font-weight:300;
        }
    }

  
    
    .search{
        width:100%;
        background-color: #fff;

        .input-group-text{
            border:none;
            background-color: transparent;
            color:$lightModeInput
        }

        input{
            border:none;
            padding-bottom: 13px;
            &::placeholder{
                font-size: $homeItemsFontSize;
                        }
            &:focus{
                box-shadow: none;
                border-color: #CDD4DA;
            }
        }
    }

    .filter{
        width:70%;
        font-size: $homeItemsFontSize;
        margin-top:1rem;
        padding:.9rem;
        border:none;
        &:focus{
            box-shadow: none;
            border-color: #CDD4DA;
        } 
        
    }
    button{
        border:none;
        padding:.5rem 1rem;
        font-size: $homeItemsFontSize;
    }
   
    .details{
        .info,.borders{
            font-size: $detailPageFontSize;
        }
        .borders{
            div span{
                font-size: $homeItemsFontSize;
            }
        }
    }
    .spanColor{
        opacity:.6;
        font-weight:300;
    }
}


@media screen and (min-width:768px) {
    .parent{
        .card{
            img{
                height:200px !important;
                // object-fit: cover;
            }
        }

       

        .search{
            width:40%;}

        .filter{
            margin-top:0px;
            width:25%; }
        
}

}
