@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

$darkModeElementsBlue: hsl(209, 23%, 22%);
$darkModeBackground:hsl(207, 26%, 17%);
$lightModeText:hsl(200, 15%, 8%);
$lightModeInput: hsl(0, 0%, 52%);
$lightModeBackground:hsl(0, 0%, 98%);
$darkTextLightElements:hsl(0, 0%, 100%);
$homeItemsFontSize:.875rem;
$detailPageFontSize:1rem;
$fontFamily:'Nunito Sans';


html{
    font-family:$fontFamily,sans-serif
}

.bgLight{
    background-color: $lightModeBackground;
}
.textLight{
    color:$lightModeText;
}

.bgDark{
    background-color: $darkModeBackground;
}

.textDark{
    color:$darkTextLightElements;
}

.info{
    font-size: $homeItemsFontSize;
    span:nth-child(2){
        color:$lightModeInput;

    }
}

.card{
    img{
        height:200px !important;
    }
}

